@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/AvenirLTStd/AvenirLTStd-Black.otf') format('otf');
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/AvenirLTStd/AvenirLTStd-Book.otf') format('otf');
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/AvenirLTStd/AvenirLTStd-Roman.otf') format('otf');
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../assets/fonts/AvenirNextLTPro/AvenirNextLTPro-It.otf') format('otf');
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.otf') format('otf');
}
